<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <MudGrid>
                <MudItem xs="12">
                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                    <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="my-7"/>
				</MudItem>
			</MudGrid>

            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>